body{
    background-color: #313334;
}

#root{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;

}

.squareRow{
    display: flex;
}

.square{
    height: 75px;
    width: 75px;

}

.white{
    background-color: #eeeed2;
}

.black{
    background-color: #769656;
}

.highlightYellow{
    background-color: #f7f769;
}

.piece{
    width: 100%;
    cursor: grab;
}

.highlight{
    width: 32px;
    display: block;
    height: 32px;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.17);
}
